/** 
 * DVGA11 - Laboration 2
 * Hasan Ali
 * Daniel de Bruin
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s; /* spooky magic trick :o */
}

/* VARIABLER */
:root {
    --font-sanserif: 'Inter', sans-serif;
    --global-margin: 20px;
    --global-border-radius: 5px;

    --color-primary: #20CC65;
    --color-secondary: #989898;
    --color-danger: #CB5151;
    --color-bg: #111111;
    --color-text: #FFFFFF;
    /* highlight växlas mellan primary och danger */

    --color-01dp: #1A1A1A;
    --color-06dp: #282828;
    --color-12dp: #444444;
    --color-16dp: #5A5A5A;
    --color-24dp: #989898;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sanserif);

    height: 100vh;
    /* max-width: 1500px; */
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 270px 780px;
    grid-template-rows: 1fr 90px;
    grid-template-areas: 
    "side patio restaurang"
    "bar bar bar";
}

.sidebar {
    grid-area: side;
    background-color: var(--color-06dp);

    display: flex;
    flex-direction: column;
    padding: var(--global-margin);
}

.info {
    margin-top: var(--global-margin);
    background-color: var(--color-12dp);
    padding: var(--global-margin);
    border-radius: var(--global-border-radius);
    display: flex;
    flex-wrap: wrap;
}

.info > ul {
    margin-bottom: var(--global-margin);
    padding: 0px var(--global-margin);
}

.info > ul > li {
    margin-bottom: 10px;
}

.info > div {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
}

.info > div > div{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--color-24dp);
    padding-right: 10px;
}
.info > div > p{
    padding-left: 10px;
}

.booked > div {
    background-color: var(--color-01dp) !important;
    border: 5px dashed var(--color-24dp);
}

.queue {
    margin-top: var(--global-margin);
}

.queue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.queue-items {
    overflow-y: scroll;
    height: 250px;
}

.queue-items::-webkit-scrollbar {
    background-color: var(--color-06dp);
    width: 15px;
}

.queue-items::-webkit-scrollbar-thumb {
    background-color: var(--color-12dp);
    border-left: solid 3px var(--color-06dp);
    border-right: solid 3px var(--color-06dp);
    border-radius: 10px;
}

.queue-item {
    background-color: var(--color-12dp);
    padding: var(--global-margin);
    border-radius: var(--global-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.queue-item:active::before {
    transition: 1s;
    left: 0;
}

.queue-item::before {
    box-sizing: border-box;
    content: "Deleeeet";
    line-height: 60px;
    padding-right: 20px;
    text-align: right;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-danger);
}

.queue-item p {
    max-width: 50%;
}

.patio {
    grid-area: patio;
    padding: var(--global-margin);
    position: relative;
}

.restaurant {
    grid-area: restaurang;
    padding: var(--global-margin);
    position: relative;
    border-left: solid 5px var(--color-06dp);
}

.actionbar {
    grid-area: bar;
    background-color: var(--color-12dp);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--global-margin);
}

.actionbar .instruction {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

/* TEXT */
h1 {
    font-size: 4rem;
    margin: 10px 0;
}

h1 strong {
    display: block;
    font-size: 2.5rem;
    color: var(--color-24dp);
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-16dp);
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* KNAPPAR */
.btn {
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: var(--global-border-radius);
    background-color: var(--color-secondary);
    color: var(--color-bg);
}

.btn.small {
    width: 125px;
    height: 40px;
}

.action {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.danger {
    background-color: var(--color-danger);
    color: var(--color-text);
}

.btn:active, .action:active, .danger:active {
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* TOOLTIP */
.table span {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;

    background-color: var(--color-16dp);
    color: var(--color-text);
    width: 260px;
    padding: var(--global-margin);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    box-shadow: 0 10px 20px 10px #0008;
}

.table span div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table.focus span {
    display: flex;
}

.table span.right {
    right: -20px;
    top: 50%;
    transform: translate(100%, -50%);
}

.table span.left {
    left: -20px;
    top: 50%;
    transform: translate(-100%, -50%);
}

.table span.top {
    left: 50%;
    top: -20px;
    transform: translate(-50%, -100%);
}

.table span::before {
    content: '';
    position: absolute;
}

.table span.right::before {
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent var(--color-16dp) transparent transparent;
}

.table span.left::before {
    top: 50%;
    right: -15px;
    transform: translate(0, -50%);
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent var(--color-16dp);
}

.table span.top::before {
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: var(--color-16dp) transparent transparent transparent;
}

.table span .status {
    flex-basis: 100%;
    text-align: center;
}

/* BORD */
.table {
    background-color: var(--color-12dp);
    font-size: 3rem;
    font-weight: bold;
    border-radius: var(--global-border-radius);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.table.focus {
    border: solid 5px var(--color-primary);
}

.table.booked {
    background-color: var(--color-bg);
    border: dashed 5px var(--color-16dp);
    color: var(--color-16dp);
}

.table.booked.focus {
    border: solid 5px var(--color-danger);
}

.restaurant .table.four-seater {
    width: 100px;
    height: 140px;
    margin: 0 20px; /* För stolarna */
}

.restaurant .table.four-seater::before {
    content: url(./img/four_seater1.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    z-index: -1;
}

.restaurant .table.two-seater {
    width: 70px;
    height: 100px;
    margin: 25px 0;
}

.restaurant .table.two-seater::before {
    content: url(./img/two_seater.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%) scale(1.1);
    z-index: -1;
}

.restaurant .table.six-seater {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin: 35px;
}

.restaurant .table.six-seater::before {
    content: url(./img/six_seater.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    z-index: -1;
}

.patio .table.four-seater {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.patio .table.four-seater::before {
    content: url(./img/four_seater2.svg);
    position: absolute;
    transform: scale(.55) translate(0, 5%);
    z-index: -1;
}

.patio .table:nth-child(2) {top: 25%;}
.patio .table:nth-child(3) {top: 40%; left: 55%;}
.patio .table:nth-child(4) {top: 53%;}
.patio .table:nth-child(5) {top: 65%; left: 55%;}
.patio .table:nth-child(6) {top: 80%;}

.restaurant .container {
    position: relative;
    height: 90%;
}

.restaurant .table:nth-child(1) {
    bottom: 0;
    left: 0;
}

.restaurant .table:nth-child(2) {
    bottom: 0;
    left: 25%;
}
.restaurant .table:nth-child(3) {
    bottom: 0;
    left: 50%;
}
.restaurant .table:nth-child(4) {
    bottom: 0;
    left: 75%;
}
.restaurant .table:nth-child(5) {
    bottom: 25%;
    left: 15%;
}
.restaurant .table:nth-child(6) {
    bottom: 25%;
    left: 30%;
}
.restaurant .table:nth-child(7) {
    bottom: 25%;
    left: 50%;
}
.restaurant .table:nth-child(8) {
    top: 50%;
    right: 0;
}
.restaurant .table:nth-child(9) {
    top: 25%;
    right: 0;
}
.restaurant .table:nth-child(10) {
    right: 0;
}

/* MODALER */
form {
    display: flex;
    flex-direction: column;
    padding: var(--global-margin);
    background-color: var(--color-01dp);
    width: 500px;
}

form p {
    text-align: center;
    align-self: center;
    border-radius: var(--global-border-radius);
    background-color: var(--color-danger);
    padding: 2px 10px;
    display: none;
}

form .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-12dp);
    color: var(--color-text);
    font-size: 1rem;
    border: none;
    border-radius: var(--global-border-radius);
}

.backdrop {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1116;
}

#modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}